In [11]:
import pandas as pd

In [12]:
meta = pd.read_csv('../metadata/ukb23158_500k_OQFE.annotations.txt',sep=' ',header=None)

In [13]:
meta

                      0                       1                2
0           1:69095:T:G  OR4F5(ENSG00000186092)  missense(>=1/5)
1           1:69134:A:G  OR4F5(ENSG00000186092)    missense(0/5)
2           1:69144:C:T  OR4F5(ENSG00000186092)       synonymous
3           1:69149:T:A  OR4F5(ENSG00000186092)  missense(>=1/5)
4           1:69173:A:T  OR4F5(ENSG00000186092)  missense(>=1/5)
...                 ...                     ...              ...
8413748  16:1775124:C:T   EME2(ENSG00000197774)       synonymous
8413749  16:1775133:G:A   EME2(ENSG00000197774)              LoF
8413750  16:1775313:A:G   EME2(ENSG00000197774)              LoF
8413751  16:1775314:G:A   EME2(ENSG00000197774)              LoF
8413752  16:1775317:C:A   EME2(ENSG00000197774)  missense(>=1/5)

[8413753 rows x 3 columns]

In [14]:
# Split the 'col' column by ':' and expand into new columns
meta[['chr', 'pos','ref','alt']] = meta[0].str.split(':', expand=True)

In [15]:
meta

,0,1,2,chr,pos,ref,alt
0,1:69095:T:G,OR4F5(ENSG00000186092),missense(>=1/5),1,69095,T,G
1,1:69134:A:G,OR4F5(ENSG00000186092),missense(0/5),1,69134,A,G
2,1:69144:C:T,OR4F5(ENSG00000186092),synonymous,1,69144,C,T
3,1:69149:T:A,OR4F5(ENSG00000186092),missense(>=1/5),1,69149,T,A
4,1:69173:A:T,OR4F5(ENSG00000186092),missense(>=1/5),1,69173,A,T
...,...,...,...,...,...,...,...
8413748,16:1775124:C:T,EME2(ENSG00000197774),synonymous,16,1775124,C,T
8413749,16:1775133:G:A,EME2(ENSG00000197774),LoF,16,1775133,G,A
8413750,16:1775313:A:G,EME2(ENSG00000197774),LoF,16,1775313,A,G
8413751,16:1775314:G:A,EME2(ENSG00000197774),LoF,16,1775314,G,A
8413752,16:1775317:C:A,EME2(ENSG00000197774),missense(>=1/5),16,1775317,C,A

In [21]:
chr1 = meta[meta['chr']=='1']

In [22]:
chr1

,0,1,2,chr,pos,ref,alt
0,1:69095:T:G,OR4F5(ENSG00000186092),missense(>=1/5),1,69095,T,G
1,1:69134:A:G,OR4F5(ENSG00000186092),missense(0/5),1,69134,A,G
2,1:69144:C:T,OR4F5(ENSG00000186092),synonymous,1,69144,C,T
3,1:69149:T:A,OR4F5(ENSG00000186092),missense(>=1/5),1,69149,T,A
4,1:69173:A:T,OR4F5(ENSG00000186092),missense(>=1/5),1,69173,A,T
...,...,...,...,...,...,...,...
4280429,1:156243071:G:A,PMF1-BGLAP(ENSG00000260238),synonymous,1,156243071,G,A
4280430,1:156243072:G:A,PMF1-BGLAP(ENSG00000260238),missense(>=1/5),1,156243072,G,A
4280431,1:156243076:G:T,PMF1-BGLAP(ENSG00000260238),missense(>=1/5),1,156243076,G,T
4280432,1:156243078:G:A,PMF1-BGLAP(ENSG00000260238),missense(>=1/5),1,156243078,G,A
4280433,1:156243081:T:A,PMF1-BGLAP(ENSG00000260238),LoF,1,156243081,T,A

In [23]:
chr1[2].value_counts()

2
missense(>=1/5)    308090
synonymous         248747
missense(5/5)      127410
missense(0/5)      106431
LoF                 54090
Name: count, dtype: int64

In [5]:
meta[2].value_counts()

2
missense(>=1/5)    3098995
synonymous         2498679
missense(5/5)      1258285
missense(0/5)      1035419
LoF                 522375
Name: count, dtype: int64

In [6]:
syn_vars = meta[meta[2]=='synonymous']

In [7]:
syn_vars

                      0                       1           2
2           1:69144:C:T  OR4F5(ENSG00000186092)  synonymous
8           1:69231:C:T  OR4F5(ENSG00000186092)  synonymous
9           1:69237:C:T  OR4F5(ENSG00000186092)  synonymous
12          1:69270:A:G  OR4F5(ENSG00000186092)  synonymous
17          1:69315:T:C  OR4F5(ENSG00000186092)  synonymous
...                 ...                     ...         ...
8413737  16:1775091:C:G   EME2(ENSG00000197774)  synonymous
8413742  16:1775106:T:C   EME2(ENSG00000197774)  synonymous
8413743  16:1775109:C:T   EME2(ENSG00000197774)  synonymous
8413744  16:1775112:C:T   EME2(ENSG00000197774)  synonymous
8413748  16:1775124:C:T   EME2(ENSG00000197774)  synonymous

[2498679 rows x 3 columns]

In [9]:
syn_vars[0].to_csv('../metadata/synonymousvars.txt',sep=' ',header=None,index=None)

In [8]:
mis = ['missense(5/5)','missense(>=1/5)','missense(0/5)']
mis_vars = meta[meta[2].isin(mis)]

In [9]:
mis_vars

                      0                       1                2
0           1:69095:T:G  OR4F5(ENSG00000186092)  missense(>=1/5)
1           1:69134:A:G  OR4F5(ENSG00000186092)    missense(0/5)
3           1:69149:T:A  OR4F5(ENSG00000186092)  missense(>=1/5)
4           1:69173:A:T  OR4F5(ENSG00000186092)  missense(>=1/5)
5           1:69202:A:G  OR4F5(ENSG00000186092)  missense(>=1/5)
...                 ...                     ...              ...
8413741  16:1775105:C:T   EME2(ENSG00000197774)  missense(>=1/5)
8413745  16:1775119:G:T   EME2(ENSG00000197774)    missense(5/5)
8413746  16:1775120:A:G   EME2(ENSG00000197774)    missense(5/5)
8413747  16:1775123:C:T   EME2(ENSG00000197774)  missense(>=1/5)
8413752  16:1775317:C:A   EME2(ENSG00000197774)  missense(>=1/5)

[5392699 rows x 3 columns]

In [10]:
mis_vars[0].to_csv('../metadata/missensevars.txt',sep=' ',header=None,index=None)